
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Portal - Home</title>
    <style>
        /* Reset some default styles */
        body, h1, h2, p {
            margin: 0;
            padding: 0;
        }

        /* Overall page style */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            background-image: url(../STATIC/plantAbstrct.png);
            
        }

        /* Header style */
        header {
            background-color: rgb(109, 75, 106);
            color: white;
            text-align: left;
            padding: 10px;
            
            
            
        }

        /* Navigation menu style */
        nav {
            background-color:  rgb(230, 232, 233);
            text-align: left;
            padding: 1px;
            box-shadow:2px 2px 12px #a7a3a3;
            opacity:90%;
            
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        nav li {
            
            float:left;
            
        }

        nav a {
            text-decoration: none;
            color: #463f3f;
            font-size: 18px;
            display: block;
            font-family:sans-serif;
            font-weight: bold;
            padding: 15px;
            transition: background-color 0.3s;
            

        }

        nav a:hover {
            background-color: aliceblue;
            
            
        }

        .nav_link {
            background-color: aliceblue;
            color:#000000;
        }
        body {
            background-color: aliceblue;
        }
        /* Dashboard-style content */
        .dashboard-content {
            text-align: center;
            padding: 40px;
        }

        .dashboard-content h2 {
            font-size: 36px;
            color: #b054c1;
            margin-bottom: 20px;
        }

        .dashboard-content p {
            font-size: 20px;
            color: #666;
            
        }

        .cta-button {
            display: inline-block;
            background-color: #b054c1;
            color: #fff;
            padding: 10px 20px;
            font-size: 24px;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
            transition: background-color 0.3s;
        }
        /* Footer style */
        footer {
            background-color: rgb(221, 233, 243);
            color: #463f3f;
            font-weight: bold;
            font-family:sans-serif;
            text-align: center;
            padding: 10px 0;
            box-shadow:2px 2px 12px #a7a3a3;
            position:fixed;
            left:0px;
            bottom:0px;
           
            width:100%;
        }

        .cta-button:hover {
            background-color: #893893;
        }

        .profileshow{
            height:100px;
            width:100px;
            border-radius: 50%; 
            
        }

        .profileshow img{
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            
        }
        h1 {
            
            margin-bottom: 20px;
            font-size: 40px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: lighter;
            
            color: #b054c1;
            opacity: .70;
        }
        .profileCard {
            border-radius: 25px;
            padding: 50px 0px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

            text-align: center;
            font-size: larger;

            background-color: rgba(214, 210, 208, 0.39);
            
            margin: auto;
            margin-top: 2%;
            margin-bottom: 10%;
            
            min-width: 50%;
            max-width: 70%;
            height: 100%;
        }

    
        
    </style>
</head>
<body>
    <header>
        
        <img src = "../STATIC/whiteLogosmall.png"  alt = "wordLogo" >
    </header>
    <nav>
       
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/Appointment">Appointments</a></li>
            <li><a href="/medicalHistory">Medical Records</a></li>
            <li><a href="/billing">Billing Process</a></li>
            <li><a href="/profile">Profile</a></li>

        </ul>
       
    </nav>
    <main>
        <div class="dashboard-content">
            <div class="profileshow" style="background-color:#9f9f9f">
               <img src="/STATIC/profilepic.png">
               <h3> <%= user.fname %></h3>
            </div>
            <div class = "profileCard">
                <h1>Profile Information</h1>
                <p>First Name: <%= user.fname %></p>
                <p>Last Name: <%= user.lname %></p>
                <p>Date of Birth: <%= user.dob %></p>
                <p>Address: <%= user.address %></p>
                <p>Email: <%= user.email %></p>
                <p>Phone Number: <%= user.phone %></p>
                <p>Gender: <%= user.gender %></p>
            </div>
            
        </div>
    </main>
    <footer>
        
        <p>&copy; 2023 Patient Portal</p>
    </footer>
</body>

</html>
