<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
</head>
<body>
    <h1>Profile Information</h1>
    <p>First Name: <%= user.fname %></p>
    <p>Last Name: <%= user.lname %></p>
    <p>Date of Birth: <%= user.dob %></p>
    <p>Address: <%= user.address %></p>
    <p>Email: <%= user.email %></p>
    <p>Phone Number: <%= user.phone %></p>
    <p>Gender: <%= user.gender %></p>
</body>
</html>
